$columns: 14;
$rows: 8;

$cardWidth: 1345 / $columns;
$cardHeight: 1153 / $rows;

@mixin uno-cards-sprites {
  @for $x from 0 through ($columns - 1) {
    @for $y from 0 through ($rows - 1) {
      &.c#{$x}#{$y} {
        background-position: -#{$x * $cardWidth}px -#{$y * $cardHeight}px;
      }
    }
  }
}

.uno-card {
  background-image: url('./../../../../assets/images/uno_cards.png');
  background-repeat: no-repeat;
  width: #{$cardWidth}px;
  height: #{$cardHeight}px;
  background-color: transparent;
  border: initial;

  &.default {
    background-image: url('./../../../../assets/images/uno_back.png');
  }

  @include uno-cards-sprites;
}
