.player {
  &.xs {
    width: 50px;
  }

  &.sm {
    width: 100px;
  }

  &.md {
    width: 150px;
  }

  &.lg {
    width: 200px;
  }

  &__username {
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.3rem 0.5rem;
  }

  &__image {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__info {
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
  }
}
