<div class="vh-100">
  <div class="row no-gutters flex-column vh-100">
    <div class="col-auto">
      <div class="d-block">
        <div class="py-5"></div>
        <div>list of users</div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="d-inline-flex mr-4">
        <div>card</div>
      </div>
      <div class="d-inline-flex ml-4">
        <div>card</div>
      </div>
    </div>
    <div class="col-auto">
      <div class="d-block">
        <div>player hand</div>
      </div>
    </div>
  </div>
</div>
