<div class="vh-100">
  <div class="row no-gutters flex-column vh-100">
    <div class="col-auto">
      <div class="d-block">
        <div class="py-4">
          <app-guest-list [players]="getGuestList()"></app-guest-list>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="d-inline-flex mr-4">
        <app-card cardId="default"></app-card>
      </div>
      <div class="d-inline-flex ml-4">
        <app-card></app-card>
      </div>
    </div>
    <div class="col-auto">
      <div class="d-block">
        <div>
          <app-player-cards [player]="getPlayer() | async"></app-player-cards>
        </div>
      </div>
    </div>
  </div>
</div>
