<div class="vh-100 d-flex justify-content-center align-items-center">
  <app-modal-layout class="col-6">
    <div class="text-center">
      <h2>Select your player name</h2>
      <div class="my-5"></div>
      <div class="input-group">
        <input
          type="text"
          placeholder="Username"
          class="form-control p-0 pl-2"
          [ngClass]="{ 'is-invalid': usernameForm.invalid && usernameForm.touched }"
          [formControl]="usernameForm"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onEnter()" [disabled]="usernameForm.invalid">
            Enter
          </button>
        </div>
        <div class="invalid-feedback">
          We have an error using this username.
        </div>
      </div>
    </div>
  </app-modal-layout>
</div>
